* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
/* Start Task List */
.task-list {
  width: 10%;
}
/* Start Task */
.task {
  width: 90%;
}
.task .content {
  display: none;
}
.task .content:target {
  display: block;
}
#checkedOutput {
  height: auto;
  min-height: calc(1.5em + 0.75rem + 2px);
}
